* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

/* Navbar */

.navbar {
    background: #0d6efd;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 8%;
}

.logo {
    font-size: 28px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover {
    color: yellow;
}

/* Hero Section */

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #007bff, #00c6ff);
    color: white;
}

.hero h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    max-width: 700px;
    font-size: 20px;
    line-height: 1.7;
    margin-bottom: 30px;
}

.btn {
    background: white;
    color: #007bff;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
}

.btn:hover {
    background: #333;
    color: white;
}

/* Placeholder Sections */

.placeholder {
    padding: 80px 10%;
    text-align: center;
}

.placeholder h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.placeholder p {
    font-size: 20px;
}

/* Responsive */

@media(max-width:768px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        flex-direction: column;
        text-align: center;
    }

    .hero h2 {
        font-size: 35px;
    }

    .hero p {
        font-size: 18px;
    }

}